header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px;
   
}


.list_item{
  width: fit-content;
  height: fit-content;
}

.list_item a{
          width: fit-content;
          width: -webkit-fit-content;
      }

.list_item a:hover{
          color:#164676;
      }
      #menu-bar{
        display: none;
      }
.nav-list{
    display: flex;
    font-weight: 700;
    font-size: 1.4rem;
}
.nav-list_item:hover{
  transition: 0.75s ease-in-out;
  transform: scaleX(1.1);
}
.nav-list_item a{
  width: 100%;
  
}
.nav-list_item a:hover{
  background: linear-gradient(270deg, #26d4c8 0%, #3cdeb3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.75s ease-in-out;
    transform: scaleX(1.1);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  .custom-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #164676;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .custom-select:focus {
    border-color: #e6ff80;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(217, 255, 0, 0.25);
  }
  .custom-select:hover {
    background: #3cdeb3;
    transition: 0.75s ease-in-out;
  }